from django.contrib import admin
from simple_history.admin import SimpleHistoryAdmin
from .models import *


admin.site.register(Author, SimpleHistoryAdmin)
admin.site.register(Book, SimpleHistoryAdmin)