from rest_framework import viewsets
from rest_framework.response import Response
from rest_framework.permissions import IsAuthenticated
from .serializers import *
from .models import *


class AuthorViewSet(viewsets.ModelViewSet):
    queryset = Author.objects.all()
    def get_serializer_class(self):
        if self.action == 'list':
            return AuthorSerializer
        if self.action == 'retrieve':
            return AuthorDetailSerializer
        return  AuthorCreateSerializer
    permission_classes = [IsAuthenticated]


class BookViewSet(viewsets.ModelViewSet):
    queryset = Book.objects.all()
    def get_serializer_class(self):
        if self.action == 'list':
            return BookSerializer
        if self.action == 'retrieve':
            return BookDetailSerializer
        return  BookCreateSerializer
    permission_classes = [IsAuthenticated]
