from rest_framework import viewsets
from rest_framework.response import Response
from rest_framework.permissions import IsAuthenticated
from django.contrib.auth.mixins import LoginRequiredMixin
from django_filters.rest_framework import DjangoFilterBackend
from .serializers import *
from .models import *


#class AuthorViewSet(LoginRequiredMixin, viewsets.ModelViewSet):
class AuthorViewSet(viewsets.ModelViewSet):
    queryset = Author.objects.all()
    serializer_class = AuthorSerializer
    permission_classes = [IsAuthenticated]


#class BookViewSet(LoginRequiredMixin, viewsets.ModelViewSet):
class BookViewSet(viewsets.ModelViewSet):
    queryset = Book.objects.all()
    serializer_class = BookSerializer
    permission_classes = [IsAuthenticated]
    #filter_backends = (DjangoFilterBackend)
    #filterset_fields = ('author',)
